<h1>Remove Zodiac Record</h1>
<div class="row">
  <div class="col-md-12">
    <form method="get" action="/delete_zodiac">
      <div class="form-group">
        <label for="get_zodiac_number">Delete Zodiac ID Number:<br/>
          <input id="get_zodiac_number" type="text" name="id" class="form-control" placeholder="Enter zodiac number">
        </label>
        <br/>
      </div>
      <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
