<div class="row">
  <div class="col-md-12">
    <div class="well well-lg">
      <h1>Database Id # here</h1>
      <h2>Sign<small>, Creature</small></h2>
      <p class="lead">Fortune</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <button type="button" class="btn btn-warning btn-lg">Edit</button>
  </div>
  <div class="col-md-4">
    <a href="/zodiacs/new" class="btn btn-info btn-lg btn-block">Add New Zodiac</a>
  </div>
</div>
