<div class="jumbotron">
  <div class="container">
    <h1>Add New Zodiac</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="get" action="/create_zodiac">
      <div class="form-group">
        <label for="get_sign">Enter Zodiac Sign:</label>
        <input id="get_sign" type="text" name="sign" class="form-control" placeholder="Enter sign">
      </div>
      <div class="form-group">
        <label for="get_creature">Enter the Creature for this Zodiac Sign:</label>
        <input id="get_creature" type="text" name="creature" class="form-control" placeholder="Enter creature">
      </div>
      <div class="form-group">
        <label for="get_fortune">Enter the Fortune for this Zodiac Sign:</label>
        <input id="get_fortune" type="text" name="fortune" class="form-control" placeholder="Enter fortune">
      </div>
      <button type="submit" value="Submit" class="btn btn-success btn-lg">Submit</button>
    </form>
  </div>
</div>

